<div class="container">
  <header class="major">
    <h2>Fabian Densborn</h2>
    <p>About me</p>
  </header>
  <p>
    My name is Fabian and I'm an IT-security master student at the University of Saarland, <br /> especially interested in the area of Web- and Mobile-Security.
    I work as a security consultant for SEC Consult and try to make the world a better place by reporting security vulnerabilities in products to vendors.<br />
    In March 2021, I started my own business with two colleagues and launched my own SaaS product. I love to develop and drive my own products.<br />
    Besides my passion for IT-security I also enjoy photography and playing football and the piano. 
  </p>
  </div>
  