<div class="container">
    <h3>{{site.sec6}}</h3>
    <div class="features">
        <article>
            <a href="#" class="image"><img src="/assets/images/svt-logo.png" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec8}}</h4>
                <p>{{site.sec9}}</p>
            </div>
        </article>
        <article>
            <a href="#" class="image"><img src="/assets/images/CISPA_Logo.png" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec10}}</h4>
                <p>{{site.sec11}}</p>
            </div>
        </article>
        <article>
            <a href="#" class="image"><img src="/assets/images/mobile.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec12}}</h4>
                <p>{{site.sec13}}</p>
            </div>
        </article>
    </div>
</div>