<div class="container">
    <h3>{{site.sec14}}</h3>
    <div class="features">
        <article>
            <a href="#" class="image"><img src="/assets/images/svt-logo.png" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec15}}</h4>
                <p>{{site.sec16}}</p>
            </div>
        </article>
        <article>
            <a href="#" class="image"><img src="/assets/images/CISPA_Logo.png" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec17}}</h4>
                <p>{{site.sec18}}</p>
            </div>
        </article>
        <article>
            <a href="#" class="image"><img src="/assets/images/mobile.jpg" alt="" /></a>
            <div class="inner">
                <h4>{{site.sec19}}</h4>
                <p>{{site.sec20}}</p>
            </div>
        </article>
    </div>
</div>