<div class="container">
    <h3>Education</h3>
    <p></p>
    <ul class="feature-icons">
        <li class="fas fa-lock w-80">Offsensive Security Certified Professional (OSCP)</li>
        <li class="w-20 w-0-mobile">May 2021</li>
        <li class="fas fa-graduation-cap w-80">Master Entrepreneurial Cybersecurity - University of Saarland</li>
        <li class="w-20 w-0-mobile">2020 - now</li>
        <li class="fas fa-university w-80">Bachelor Cybersecurity - University of Saarland</li>
        <li class="w-20 w-0-mobile">2016 - 2020</li>
        <li class="fas fa-book w-80">High School - Gymnasium Konz</li>
        <li class="w-20 w-0-mobile">2007 - 2016</li>
    </ul>
</div>