<div class="container">
    <h3>Work experience</h3>
    <div class="features">
        <article>
            <a href="https://cispa.de" class="image" target="_blank"><img src="/assets/images/CISPA_Logo.png" alt="" /></a>
            <div class="inner">
                <a href="https://cispa.de" target="_blank"><h4>CISPA - Helmhotz Center for Information Security</h4></a>
                <p>
                    Since 2018 I am working at CISPA. I started as a student helper and my tasks included the creation and support of various websites. <br>
                    Starting in 2021, I am now working there part-time alongside my studies, designing and creating interactive tasks for students in our CysecLab student lab. 
                    I also provide support in the area of student marketing and present our degree programs at events.
                </p>
            </div>
        </article>
        <article>
            <a href="https://nextlevelshopping.de" class="image" target="_blank"><img src="https://nextlevelshopping.de/static/img/Logo_horizontal_nobg.png" alt="nextlevelshopping logo" /></a>
            <div class="inner">
                <a href="https://nextlevelshopping.de" target="_blank"><h4>nextlevelshopping</h4></a>
                <p>At the beginning of 2021, after a year of preparation, I founded my own startup together with two colleagues. <br>
                    We offer video consulting as SaaS for SMEs. The entire technical implementation of the web services, as well as the mobile applications was carried out by myself.</p>
            </div>
        </article>
    </div>
</div>