<div class="container">
  <header class="major">
    <h2>Fabian Densborn</h2>
    <p>About me</p>
  </header>
  <p>
    My name is Fabian and I'm a Security Consultant. <br /> I am especially interested in the area of Web- and
    Mobile-Security.<br />
    During my studies, I wanted to gain more practical experience and decided to take the Offensive Security Certified
    Professional (OSCP).
    With this certificate, I also knew that I would like to gain more hands-on experience and decided to join a security
    consultant company where I could constantly face new challenges and projects.<br />
    In March 2021, I started my own business with two colleagues and launched my own SaaS product. It has always been a
    dream of mine to create my own software product. I love developing new features as all it takes is an idea and a
    laptop.
  </p>
</div>